[2018-10-07 18:11] VarshitAgarwal opened #3 "Proposal to talk on 13 Oct. Use case of data visualization"
I have made a project  on Extraction of text from an  Image using Deep Learning Framework ( keras) and CNN algorithm where i'll show a real time data visualization  of dataset using python Module.

[2018-10-07 18:15] Shivank98 commented on #3
We are confirming your talk under lightning talk in the event.
you will be allocated 10 minutes.
It will be great to have you with us :)

[2018-10-15 07:04] #3 closed

[2019-01-10 06:48] heyAyushh opened #4 "Serverless"
I take pride in proposing the talk for Serverless Azure function, Providing some basic insights into serverless world, what is it? , What is there for us? , and How can we get started easily.

[2019-01-22 13:04] nk521 opened #5 "File Formats 101"
**Abstract**

Are files really safe? Or Do you think that your files can do something you never expect them to do?

**About**

Crafting files from scratch assembly! and finding flaws!

**Pre-requisites**

- A bit of memory knowledge and a bit of ASM knowledge (you can read nasm/yasm documentation for this)

**Expected duration**

_Time that your talk/workshop would take_ 60 ± 15 minutes.

**Level*

[2019-12-26 11:25] theSage21 opened #7 "Organizing meetup"
Hi

We will be having a general meetup regarding the activities of PyJaipur.

- 11:00 - 14:00 hrs on Jan 5 2020.
- [Venue is Forsk labs, Sitapura, Jaipur](https://g.page/forsklabs?share)

## Agenda

- ~[ ] Clear backlog from previous events~ Could not be discussed due to absent members
- [x] Promotional links and a bot for them
- [x] Monthly meetup schedule
- [x] Talks schedule
- [x] Projects / Sp

[2019-12-28 09:00] theSage21 commented on #5
Hey @nk521,

Is this still valid? If you already have slides/github/talking points please post them here and we can figure out a date for this talk

[2019-12-28 09:01] theSage21 commented on #4
Hi @heyAyushh ,

Is this still valid?

If you already have slides/github/talking points please post them here and we can figure out which meetup to present this talk in.

[2019-12-28 16:58] theSage21 opened #8 "Mentor certificates from <= 2019"
Please comment here and let us know if you haven't received certificates which you were supposed to receive before or during 2019.

## Pending certificates reported

- [ ] NerdNinja
- [ ] Kumaraskanda B B

[2019-12-28 16:59] theSage21 commented on #8
*Note* @theSage21 someone called @nerdninja on telegram has claimed that they have not received their certificate. Investigate and resolve

[2019-12-29 04:33] rishabhKalakoti commented on #7
Looking forward to it :)

[2019-12-29 05:30] sakshamtaneja21 commented on #7
looking forward to it

[2019-12-29 05:33] Avinashx commented on #7
Yup.

[2019-12-29 06:09] theSage21 commented on #7
Let's just use the rocket emoji to mean that someone will be attending.

[2019-12-29 07:55] theSage21 commented on #7
Let's assemble at Forsk labs in Sitapura. They've been supportive of PyJaipur so far and it would be nice to start the new year with them :smile:

https://g.page/forsklabs?share

[2019-12-29 09:46] MANISH-CHOUHAN commented on #7
Yup☀️

[2019-12-31 10:51] theSage21 commented on #7
Timings available for us are 1100 hrs to 1400 hrs. Please be in the venue at 1100 hrs. I'll meet everyone there.

[2020-01-02 17:23] sakshamtaneja21 opened #9 "About CodeNBuild"
This issue is for the CodeNBuild hackathon taking place on 25th Jan.

Details can be found in #10

[2020-01-02 17:59] theSage21 commented on #9
@sakshamtaneja21 beautiful work :+1: I'll put this in a PR soon and have this issue re-formatted for discussions.

[2020-01-03 12:48] sandeepjain20178 commented on #7
yes

[2020-01-04 17:45] AdityaSharma07082000 commented on #7
👍

[2020-01-04 17:49] theSage21 commented on #7
I'll see you all at 11 AM tomorrow :smile:

[2020-01-05 11:20] theSage21 commented on #7
Attended: @theSage21, @rishabhKalakoti, Anchal Agarwal, Surender, Sylvester

Discussed and finalized:

1. Monthly meetups will be held regularly. Bi-weekly local member meetups will be remote/online
2. PyJaipur's participation in CodeNBuild might be questionable since our role there is not clear. See #9 for event details.
3. Community learning tracks need to be finalized. Potential candidates

[2020-01-05 11:20] #7 closed

[2020-01-05 11:23] theSage21 opened #11 "So Wrong: Absurd ways of doing perfectly normal things"
Submitted for PyCon India 2019. Perhaps one of the meetups we can do this?

https://in.pycon.org/cfp/2019/proposals/sowrong-absurd-ways-to-do-perfectly-normal-things~bkkXb/

[2020-01-07 18:23] rishabhKalakoti opened #12 "Animating SVGs"
An introduction to adding basic animations to web pages with Scalable Vector Graphics.

**Pre-requisites**
- Basic JavaScript and DOM
- Basic CSS 3 animations

**Expected duration**

_20-30 minutes_

**Level**

_Beginner_

**Resources**

[links](https://github.com/rishabhKalakoti/session-notes/tree/master/svg)

**Speaker Bio**

Hey. I am Rishabh. Final year B.Tech student. Have tried my hands at a

[2020-01-08 06:17] theSage21 opened #13 "The many uses of SSH"
**Abstract**

What all can we use ssh for.

**About**

- Getting past firewalls
- Shutting down an entire lab
- Accessing a machine from anywhere on the planet

**Pre-requisites**

- Laptop with Ubuntu

**Expected duration**

30 min

**Level**

beginner

**Resources**

https://www.arjoonn.com/static/posts/22-The%20things%20I%20use%20SSH%20for|article|.html

[2020-01-08 06:48] theSage21 opened #14 "19-Jan"
Meetup slot.

Timing: 1000 hrs - 1300 hrs
Location : TBD

[2020-01-08 06:49] theSage21 opened #15 "25-Jan"
Meetup slot.

Timing: 1000 hrs - 1300 hrs
Location : TBD

[2020-01-08 07:30] theSage21 commented on #14
As mentioned on TG, dates are no longer up for voting.

[2020-01-08 07:30] #14 closed

[2020-01-08 08:17] anchal7299 opened #16 "Automation with python,docker,aws"
**Abstract**

- Deploying docker containes on AWS machines to run python programs easily.

**Pre-requisites**

- Python3 basics

**Expected duration**

_Time that your talk/workshop would take - _
   30 minutes

**Level**

_Beginner_

**Resources**

_Resources will be add soon_

[2020-01-08 08:19] #15 closed

[2020-01-08 08:26] theSage21 commented on #16
I'll tag this issue once you edit the top comment with the relevant details

[2020-01-26 02:56] #4 closed

[2020-01-26 02:57] theSage21 commented on #4
@heyAyushh please feel free to open this again if you want to give this talk again.

[2020-01-26 03:00] theSage21 commented on #16
@anchal7299 in case any slides/etc were not included in #17 please open a new PR  for those materials.

[2020-01-26 03:00] #13 closed

[2020-01-26 03:01] theSage21 commented on #12
NOTE: Material has been provided at https://github.com/rishabhKalakoti/session-notes/tree/master/svg and the top comment has been updated to reflect this.

[2020-01-26 03:01] #12 closed

[2020-01-26 03:02] #16 closed

[2020-01-26 03:06] theSage21 commented on #9
Closing due to unresponsiveness and event date being in the past.

[2020-01-26 03:06] #9 closed

[2020-01-26 03:11] theSage21 opened #19 "Building a chat app with socket programming"
# Abstract

1. Sockets and networking introduction
    - netcat
    - simple chat
2. Writing socket programs in Python
    - send strings
    - send files
    - simple chat
3. Surprise activity :D

# Setup

1. Please bring a laptop.
2. Have python >= 3.6 installed on your machine. If you have issues getting this to work try to get docker installed on your machine. Find me in the telegram group to

[2020-01-26 14:00] anchal7299 commented on #16
ok

[2020-01-27 19:07] theSage21 opened #20 "Build SoA judge website"
The pyjudge project has about 5 hours of work left.

We could sit and finish it in one of our meetups and re-target it to be used as the SoA platform this year and for other hackathons PyJaipur might conduct

[2020-01-31 11:00] theSage21 commented on #5
Hey @nk521 would you be able to make it for the March 28th meetup? We can work out the talk details in that case.

[2020-02-20 10:35] Shivank98 opened #21 "Shouldn't we have a seprate repository for website"
currently, the website is on pyjaipur/pyjaipur/website.  which on first place is hard to find also issues get merged with other topics such talks etc.

[2020-02-20 10:38] theSage21 commented on #21
We could but it's a lot easier to maintain right now. Otherwise everything is scattered everywhere. In the future if our website takes up more roles other than just displaying static information we could separate out those roles into other projects.

Right now this is the main information repo for pyjaipur.

[2020-02-21 04:21] theSage21 opened #22 "Amity University Rajasthan"
Email received at pyjaipur.india@gmail.com
[code]

[2020-02-21 04:26] theSage21 commented on #22
Hi @honeyakshat999

PyJaipur does not sponsor events.
If you would like our support for other things please let us know.

[2020-02-21 06:24] honeyakshat999 commented on #22
sir,
 We want promotions (telegram group ,meetup group),swags for participants,mentorship and judging.

[2020-02-21 09:16] theSage21 commented on #22
- I think we can put one short text message in the Telegram group, and perhaps mention something on the pyjaipur website?
- As for the mentorship and judging we can mention it in [tomrorrow's meetup](https://www.meetup.com/PyJaipur/events/jgkqnrybcdbdc/) and if any members are interested they can reply on this issue. It would be nice if you attend tomorrow and present your event yourself and try t

[2020-02-22 16:01] Shivank98 commented on #21
Got it.

[2020-02-22 16:01] #21 closed

[2020-02-22 17:51] honeyakshat999 commented on #22
Are mentors and judges are confirmed?
Is social media promotions are confirmed?

[2020-02-23 04:10] theSage21 commented on #22
- For mentoring and judging I don't think anyone has been able to clear their schedule yet
- We can mention the event's link in the pyjaipur links group in case you have not already put it there.

[2020-02-23 16:02] #19 closed

[2020-02-23 16:02] theSage21 commented on #19
Please refer to https://github.com/PyJaipur/chat for code built during this meetup

[2020-03-04 06:22] ayushisaxena22050 opened #25 "Automizing Data Extraction using Web-Scraping"
Abstract:
 1. Web-Scraping Introduction
 2. Scraping Data from website using BeautifulSoup
Pre-requisites:
 Basic python
 Python3 installed in your laptop.
 Jupyter Notebook installed.

Expected duration:
 Time that your talk/workshop would take - _
 45 minutes

Level:
Beginner

Resources
https://www.crummy.com/software/BeautifulSoup/bs4/doc/ption of the talk/workshop.

[2020-03-14 13:09] theSage21 opened #26 "Jobs / Internship opportunities"
If you have an internship or job opportunity at your company or know about some other good place, please comment with the following information:

- Position title
- Remote / Physical location
- Duration
- Stipend amount
- Last date to apply

[2020-03-14 13:12] theSage21 commented on #26
test comment

[2020-03-14 13:25] theSage21 commented on #26
Position | Location | Duration | Stipend | Last date | Link
------|---|---|---|---|---
Sample Devops internship | Gurgaon | April-June 2020 | 10k/month |

[2020-03-16 11:04] akash-gupta94 commented on #26
Position	Location	Duration	Stipend	Last date	Company
Devops Management	Gurgaon	April-June 2020	10k/month	15/04/2020	Smaac Net Solutions Pvt. Ltd.

Tasks
Streamline DevOps of development team
Set & develop best practices for Deployment and Publishing applications and Database

[2020-03-28 04:59] theSage21 commented on #25
https://github.com/ayushisaxena22050/WebScrapping-of-Indeed-website

[2020-03-28 04:59] theSage21 commented on #25
https://github.com/PyJaipur/web-scrape

[2020-03-31 07:20] anchal7299 commented on #26
I am interested @akash-gupta94 for the Devops Management Position
Please tell me how to proceed?

[2020-03-31 13:17] akash-gupta94 commented on #26
Hey,

Can you please send us your Resume.

*Akash Gupta*

*Smaac Net Solutions Pvt. Ltd.*
*(Industry Specific Software Solutions)*
B-17, Institutional Area, Sector 32, Gurugram, Haryana 122021
P: 0124-4536812    M: +91 8149160099;
Email: akash <http://goog_276089744>@smaac.in    Web: www.smaac.in

On Tue, Mar 31, 2020 at 12:50 PM Anchal Agarwal <notifications@github.com>
wrote:

--
This message (a

[2020-04-01 13:55] anchal7299 commented on #26
Yes

[2020-04-04 08:33] Shivank98 opened #27 "suggestions are required for template of monthly letter."
Please have a look at [this](https://github.com/PyJaipur/PyJaipur/blob/master/templates/emails/monthly.txt) and suggest your inputs.
This is a template for monthly letter that we are planning to post from this month.

[2020-04-04 09:44] theSage21 commented on #27
This looks good. :+1:

1. Do we need date and time for previous events? A link to meetup page /resources/recordings should be enough?

[2020-04-04 09:50] Shivank98 commented on #27
Hmm. yeah, date and time we can remove for previous events.

[2020-04-06 15:46] theSage21 opened #28 "Summer of Algorithms 2020"
SoA 2020

Call on 7 April to discuss how to go about this. https://meet.google.com/vxt-mimw-oco

## To discuss

- Structure of event
- How to handle code submissions
- How to handle mentoring
- Sponsorship / prizes?
- How to track progress of people/distribution of prizes/goodies etc?

Please add whatever other questions you have in this issue.

[2020-04-07 17:47] theSage21 commented on #28
# Meeting notes

- Finalize organizing team
- Timeline of event needs ownership
- Participant count should be 100 to 150 people
- Diversity in college representation is needed
- SoA name might need change this year
- Poster design
- Social media handling
- At least one month planning time needed
- When should we assign mentors? Beginning of program or middle?
- How to decrease load on mentors whil

[2020-04-09 13:28] anchal7299 commented on #28
We can reduce loads on mentors by building forum of all SOA participants and mentors, where a person can post his issue. Thus those participants which are at phase 2 can help those who are at phase 1.

[2020-04-14 08:08] Shivank98 opened #33 "Requesting a call on fundamentals of Linux"
I want to request a call on the fundamentals of Linux.
* Basic and useful commands.
* Shells/Terminals etc
* How does virtual environments works and using them.
* What you can do with editors like VIM.

The reason behind the request is that many times I feel that I am not using all things that are available.

You can also share some resources also in comments but a call is preferred.

[2020-04-14 08:20] theSage21 commented on #33
I can do the terminals + vim part.

How about this weekend?

[2020-04-14 08:22] Shivank98 commented on #33
Sounds cool. Thanks

[2020-04-14 08:41] Shivank98 commented on #27
please have a look again at the file.

[2020-04-14 08:51] theSage21 commented on #27
@Shivank98 you can make these changes in a separate branch and open a pull request. That way it's easier to review before putting things in master.

[2020-04-14 08:56] theSage21 opened #34 "Activity list on pyjaipur website"
It would be nice to have an upcoming activity list on the pyjaipur website.

- helps those who are planning new activities
- links to calls can be updated there
- people can find links easily.

[2020-04-15 16:33] #34 closed

[2020-04-15 16:42] Shivank98 opened #36 "Enabling push notifications on website."
I was going through [this](https://developers.google.com/web/fundamentals/codelabs/push-notifications) and thought it would be nice to have this feature on website.

 - Whenever there would be an event. a notification would be sent to user.

I also don't know how exactly we can do that. I will try to find some time to look into it but meanwhile, if someone is interested please take this issue furt

[2020-04-15 16:54] #22 closed

[2020-04-16 06:46] theSage21 commented on #36
This looks pretty cool. From what I understand we need a dynamic server to push notifications. Perhaps heroku?

[2020-04-16 18:24] Shivank98 commented on #36
yeah, I guess that's what we need. I ll try to read more on it.

[2020-04-21 19:14] #33 closed

[2020-04-28 16:04] #27 closed

[2020-04-28 16:05] #25 closed

[2020-04-28 16:06] theSage21 commented on #25
https://github.com/PyJaipur/SoA

[2020-04-28 16:06] theSage21 commented on #20
https://github.com/PyJaipur/SoA

[2020-04-29 18:28] Shivank98 commented on #20
This will be done on 3rd May dev sprint #47.

[2020-04-29 18:28] #20 closed

[2020-04-29 18:29] Shivank98 commented on #8
Are we doing something on it? or we can close it?

[2020-04-29 19:04] NerdNinja commented on #8
Hi folks. I can't remember what issue started this or when I raised it.

Have you found this through a ticket-management system, or an old
email-trail?

On Wed., Apr. 29, 2020, 2:29 p.m. Shivank Gautam, <notifications@github.com>
wrote:

[2020-04-30 08:00] theSage21 commented on #8
Hi @NerdNinja ,

I think this happened because of a namespace clash. There's a different NerdNinja on our telegram group and you were accidentally tagged because of that username here. Please feel free to unfollow this thread.

Sorry for the trouble.

[2020-04-30 08:00] theSage21 commented on #8
I'm not sure what we can do. I haven't found the time to go through the archives and figure out who needs what.

[2020-04-30 10:12] Shivank98 commented on #8
Hmm, I suggest as there are no mails who are asking for it. we can close it.

[2020-05-02 16:03] Shivank98 opened #48 "How to run website?"
I am sure there would be a way to run all whole website together instead of opening each HTML file separately.
It's Jinja template but I couldn't find any .py file. I tried to run it using bottle like `return template('src/index.html', baseurl='')` but that also didn't work.

[2020-05-02 17:30] theSage21 commented on #48
Samjha nahi mai. `make web` already runs the full site. What are you trying to do?

[2020-05-02 17:34] Shivank98 commented on #48
Thia is pyjaipur website. not SoA

[2020-05-02 17:41] theSage21 commented on #48
My god. So sorry.

After installing requirements you can run `python -m staticsite build` to
build the site.

The site is build into the target folder and can be served using `python -m
http.server`.

If you're doing live development use `python -m staticsite watch` and the
site will be automatically rebuilt every time you write changes to your
source files and the browser page will be refreshed.

[2020-05-02 18:06] Shivank98 commented on #48
looks like I don't have access rights to repo you shared.

[2020-05-03 05:51] #48 closed

[2020-05-08 14:27] JKanchan opened #52 "SOLID principal"
SOLID is a mnemonic acronym for five design principles intended to make software designs more understandable, flexible and maintainable.

Do participants need to bring a laptop?
No

[2020-05-08 14:38] theSage21 opened #53 "reactjs and react native"
TBD

[2020-05-08 17:17] theSage21 opened #54 "Web automation"
Time Duration: 45 ~ 60  minutes
Topics to be covered:
1. What is Automation and RPA?
2. RPA vs normal automation (probably using Selenium a quick go through) ~> basically why I insist  over RPA when we talk about automation
   The important difference that I want to show is the term "low code / No code"
3.  Few Bot Examples:
     1~> Table data scrapping (can be made during presentation 3-4 minute

[2020-05-08 17:36] theSage21 opened #55 "Crypto and web security"
TBD

[2020-05-08 20:51] Jithinqw commented on #53
Please follow https://github.com/Jithinqw/react-talk-pyjaipur for slides and demo.

[2020-05-08 21:40] Shivank98 commented on #52
This looks something interesting. looking forward to it.

[2020-05-10 08:05] #55 closed

[2020-05-14 11:24] HeroicHitesh commented on #54
I am interested in working on automation but need guidance.

[2020-05-14 12:42] theSage21 commented on #54
@HeroicHitesh this issue was for a talk on web automation that @piyushagarwal08 had mentioned in the group I think. Maybe you could work with him to write up this talk? I can help once you have a basic PR outlining the talk opened.

[2020-05-14 12:55] piyushagarwal08 commented on #54
Sorry! due to current work I had completely forgotten about this
Time Duration: 45 ~ 60  minutes
Topics to be covered:
1. What is Automation and RPA?
2. RPA vs normal automation (probably using Selenium a quick go through) ~> basically why I insist  over RPA when we talk about automation
3.  Few Bot Examples:
     1~> Table data scrapping (can be made during presentation 3-4 minutes): Structured D

[2020-05-14 19:15] HeroicHitesh commented on #54
@theSage21 Ohhk. Actually I am new to automation stuff, so, I thought that I would learn something by doing some tasks. But I have no prior experience so I guess @piyushagarwal08 will have to do this by himself😅 although this talk will be helpful for me to learn about web automation, so, looking forward to it.
@piyushagarwal08 if you can recommend some good resources to learn RPA from maybe I can

[2020-05-15 00:47] piyushagarwal08 commented on #54
academy.uipath.com
university.automationanywhere.com

You can ping me on mail piyushagarwal.0108@gmail.com
I can share my zoom id.. using which today evening you can attend my session over the same @5pm

[2020-05-15 06:10] theSage21 opened #69 "What does CS mean?"
- This talk explores the concept of computation and how it impacts our lives on a daily basis.
- No need for a laptop.

[2020-05-15 09:00] Jithinqw opened #70 "Website appears to overflow on bigger screens"
<img width="1680" alt="Screenshot 2020-05-15 at 2 28 30 PM" src="https://user-images.githubusercontent.com/20675707/82032262-97041f00-96b8-11ea-864b-0fd2dfb8647c.png">

[2020-05-15 11:17] theSage21 commented on #70
This is strange. Thanks for bringing it up :+1: My screen seems to display it fine.
![image](https://user-images.githubusercontent.com/7693265/82044704-772a2680-96cb-11ea-8e9f-7a86537d7db2.png)

Could you share a few details to help me debug?

- What browser?
- OS
- screen resolution
- zoom level?

[2020-05-15 11:18] theSage21 commented on #70
woah! the color is different. :thinking: veeeery strange.

[2020-05-15 11:56] Jithinqw commented on #70
The website loaded on Chrome and Safari, had the same effect.

OS: Mac OSX  Catalina
Screen: 15.4 inch 2880*1800

[2020-05-15 12:00] Jithinqw commented on #70
Try to reduce the space from left. It feels everything is congested to right.

[2020-05-15 12:04] theSage21 commented on #70
I think I'll just move this code to a grid. That way I don't have to worry about a lot of things :D

[2020-05-15 12:04] Shivank98 commented on #69
Is it for some college? Sparsh?

[2020-05-15 12:06] theSage21 commented on #69
Yes. This is what is being proposed for the Amity event.

On Fri 15 May, 2020, 17:34 Shivank Gautam, <notifications@github.com> wrote:

[2020-05-16 03:03] HeroicHitesh commented on #54
Sorry for the delayed reply, actually I had an internship exam yesterday. This is the reason why I wasn't able to attend your session also.
Thanks for the resources I'll get started with it right away.

[2020-05-16 04:50] theSage21 commented on #54
@piyushagarwal08 can we schedule this talk for the June meetup? It should be on 27 June

[2020-05-16 04:52] piyushagarwal08 commented on #54
Cool

[2020-05-16 10:19] theSage21 commented on #69
@piratesparsh please mention here once things have been confirmed on your side. I can move this talk to the scheduled section in the [Talks project](https://github.com/PyJaipur/PyJaipur/projects/1#card-38336474)

[2020-05-17 06:41] theSage21 opened #74 "Sunday night as a regular volunteer meetup"

[2020-05-20 14:10] theSage21 commented on #70
@Jithinqw does the site look ok now on your browser?

https://deploy-preview-77--tender-jang-4fceb8.netlify.app/

[2020-05-20 14:11] Jithinqw commented on #70
Perfect

[2020-05-20 14:12] #70 closed

[2020-05-21 15:40] theSage21 opened #78 "ilugd collab"
Collaboration with Ilug-d for some talks/workshops?

1. propose collab to ilug-d. 23 May - 27 June some weekend.
2. on acceptance send out call for speakers in pyj
3. go listen to collab talk.

# Todo

- [x] 28 June 1630 : 1900 hrs
- [x] @thesage21 send out cfp for representing pyj in ilugd collab. 1 speaker slot available.
- ~~[ ] Find supporting speaker for #101~~
- [x] Ilugd will present ILUGD/

[2020-05-21 15:42] theSage21 commented on #36
Netlify proxy to heroku can let us build a free push service.

[2020-05-21 16:12] seema1711 opened #79 "rules for links in to group"

[2020-05-21 16:13] seema1711 opened #80 "How to manage topics in to group? Should we use a different platform?"

[2020-05-21 16:19] theSage21 opened #81 "Search telegram group history for topics."

[2020-05-21 16:26] theSage21 opened #82 "Managing/automating social platforms"
The following social platforms need to be automatically updated when a new event is created.

- [x] calendar
- [x] pyjaipur.org
- [x] twitter
- [x] mailing list
- [x] linkedin

These vary too much to be able to reliably automate.

- ~~[ ] meetup.com~~
- ~~[ ] youtube~~

[2020-05-21 16:27] theSage21 commented on #81
1. We need discoverability for our group history so that people can find topics that they missed
2. Maybe use topic modeling to discover topics

[2020-05-21 16:28] seema1711 commented on #80
Discord is good.

[2020-05-21 16:35] Shivank98 commented on #81
We don't need this.
TG already have a search option.
if something nice comes which admins find interesting to have or mark #topic_name can be used.

[2020-05-23 06:39] theSage21 commented on #52
Slides from speaker's side.  https://docs.google.com/presentation/d/e/2PACX-1vSRd4nUyAIwzT-Ot0Mhj7K61qw6bKsOGOgNfFSjSB-B-oZZO0A2t9BSqAF9hbfgAC0fONwakej5QA2U/pub?start=true&loop=false&delayms=60000#slide=id.p1

[2020-05-23 07:06] theSage21 commented on #52
Talk needs to be rescheduled. Speaker could not attend due to personal reasons.

[2020-05-24 11:58] Shivank98 commented on #80
I don't usually see a problem where we need channels for topics(like slack).
We don't really try to look for old chat references for a new query and even if do that TG search is enough.

[2020-05-24 12:02] Shivank98 commented on #79
1. Promotional and Referral link should be banned in chat group.

2. If link is of any non profit communities which are run by volunteers can be posted in group and even can be pinned few hours before event so talk/session can do benefit to all.

3. If a community/org is not run by volunteers but still someone from there side request admins to let him post link related to event, that should be con

[2020-05-25 07:00] theSage21 commented on #81
Agreed. Maybe we can keep this open so that we don't forget that it was talked about. Otherwise until this becomes an actual problem we can put this on hold.

[2020-05-25 07:02] theSage21 commented on #80
Agreed. So far dedicated github issues have been good enough for managing topic discussions like the one for jobs.

[2020-05-25 07:03] theSage21 commented on #79
I just realized that telegram has a "channel" thing. We could create a PyJ channel and use that to announce things. Channels can have groups linked to them for discussions. That way, announcements don't clutter normal discussions.

[2020-05-25 14:19] theSage21 opened #87 "Volunteer meetup"
## Announcement message

    We're having a #volunteer meetup this Sunday 9PM!
    Use pyjaipur.org/#call to join the event
    #pyjaipur #event

## Announcement poster
![volunteer_meet](https://user-images.githubusercontent.com/7693265/82821352-9130e980-9ec1-11ea-94ab-f800a50d74c3.jpeg)

## Checklist

- [x] Add announcement message on this issue
- [x] Google calendar event on pyj calendar
    - [

[2020-05-25 14:43] theSage21 commented on #74
Duplicate of #87

[2020-05-25 14:43] #74 closed

[2020-05-26 13:15] Shivank98 commented on #87
I 'll put it on mailing list on Saturday. people forget mail.

[2020-05-31 06:10] arjun921 opened #91 "Deploying a highly scalable website/service that never goes down."
Please include the following when writing about a talk / workshop:
A talk on creating a high availability kubernetes cluster with autoscaling and deploying your own service in Kubernetes.

- 2-3 sentence description of the talk/workshop.
- Do participants need to bring a laptop?

[2020-05-31 15:15] theSage21 commented on #82
HydPy also attempted something like this.https://github.com/HydPy/meetup-manager

[2020-05-31 15:38] theSage21 commented on #52
PyDelhi conducted a talk on the same topic a while back. Interested people can watch at https://www.youtube.com/watch?v=ReWadscUW3k

[2020-05-31 15:59] theSage21 commented on #8
Closed due to inactivity and lack of ability to mitigate. Will reopen if a way is found to recreate mentor certificates.

[2020-05-31 15:59] #8 closed

[2020-05-31 16:08] theSage21 commented on #80
Please close if no resolution is found in net meetup.

[2020-05-31 16:11] theSage21 commented on #79
@anushajain19 to write up the link group rules + dontasktoask.com link for tg group description.

[2020-05-31 16:12] theSage21 commented on #82
@theSage21 to open a PR to showcase work in progress.

[2020-05-31 16:12] theSage21 commented on #81
duplicate of #80

[2020-05-31 16:12] #81 closed

[2020-05-31 16:26] Shivank98 commented on #87
# Agenda
- next meetup. talks to host
 - Web Automation by Piyush
 - What does CS means reserved for Amity talk( or talk with much number of attendees)\
 - SOLID Principals, might need a backup speaker. if you are interested you can comment here. https://github.com/PyJaipur/PyJaipur/issues/52

- ilugd collab. How to do this?
- Dates are being decided. after that a call for speaker would be sent.
-

[2020-06-01 08:01] ayushisaxena22050 commented on #26
Hey,
One of my friend is urgently looking for a part time/full time intern for a flutter based app development. Please connect if interested.
Stipend - No bar for good candidate.
Location - Remotely.

[2020-06-01 08:05] akash-gupta94 commented on #26
Hello,

We are not into App development.

Akash Gupta

+91-8149160099 • www.smaac.in
<https://mailtrack.io/trace/link/edc945b35827cf397e97297963629108c7671380?url=http%3A%2F%2Fwww.smaac.in&userId=4668701&signature=c17eee84801e3e95>

Smaac Net Solutions Pvt Ltd

B-17, Institutional Area, Sec-32, Gurugram, Haryana

<https://mailtrack.io/trace/link/5780eea66807f80822ee3f70596256a88bdb7039?url=https%3

[2020-06-01 08:10] theSage21 commented on #26
That's ok @akash-gupta94 I think @ayushisaxena22050 was posting an opportunity available at her company.

[2020-06-01 10:33] theSage21 opened #92 "June meetup"
## Announcement message

    Mark your calendars for our next monthly meetup on 27th June 10 AM!
    We're talking about web automation and SOLID principles.

    Use pyjaipur.org/#call to join the event
    #pyjaipur #event

[ calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=NmRodHRyc3F1OWYyZWRncmRrc3MzMWpzaDZfMjAyMDA2MjdUMDQzMDAwWiBweWphaXB1ci5pbmRpYUBt&tmsrc=pyjaipur.india%40gm

[2020-06-01 10:37] #87 closed

[2020-06-03 16:25] theSage21 opened #95 "Volunteer meet - 7 June 2020"
# Agenda

- Follow up on #87
- Shieldy replacement

[2020-06-04 02:55] theSage21 commented on #82
Reopening since our meetup.com api request got approved. Will work on automating meetup announces.

[2020-06-07 15:54] theSage21 opened #97 "Complain bot"
- Anon complains can be registered against people who harass?

[2020-06-07 15:56] theSage21 commented on #79
@nk521 if the join bot is being made, let's make it global so that other communities can use.

[2020-06-07 16:08] theSage21 commented on #36
We'll wait for #82 to be done and then add this push notifications system to that platform.

[2020-06-07 16:09] theSage21 commented on #95
- shieldy replacement discussions will be held under #97

[2020-06-07 16:09] theSage21 commented on #92
will populate once the automation system is done.

[2020-06-07 16:11] theSage21 commented on #69
@piratesparsh putting this on hold until amity send us a confirmation.

[2020-06-07 16:13] theSage21 commented on #91
@arjun921 we'll wait for you to put out slides/code and then schedule this for the next available meetup slot. Does that work for you?

[2020-06-07 16:22] Shivank98 commented on #95
MOM:
Announcement automation has been done for Twitter and google calendar.  Meetup.com API has been approved. LinkedIn post can be made using a personal account but not the company's account.

Amity talk has is on hold as there is no response from Sparsh.

Talks on SOLID and WEB AUTOMATION has been fixed. though a backup speaker is still needed for SOLID Principals. need to send a CFP

following

[2020-06-08 04:28] #95 closed

[2020-06-08 04:46] theSage21 commented on #78
Proposed message:

We'll be collaborating with [India Linux Users Group Delhi](https://www.linuxdelhi.org/) this month.

There will be two talks. One speaker will be from their end and one speaker will be from PyJaipur.
This event will be broadcast on both PyJaipur and ILUG-D social platforms.

Anyone who would like to represent PyJaipur for this collaboration is welcome to post a message here or

[2020-06-08 04:58] ayushisaxena22050 commented on #78
Yes ..!!
This sounds great.
Are you talking about monthly meetup context?
For the topic part and ladies participations part I have few suggestions:

1.we may ask Preeti  for a talk as she is doing some good work in pytorch
and deep learning.

2. I can prepare a talk myself on Flask framework.

3. I know someone who is interested to give a talk but do it necessarily be
on python related topics.

On

[2020-06-08 06:20] theSage21 commented on #78
This would be separate from the monthly meetup.

1. That would be wonderful! If she's interested she can open a [talk proposal](https://github.com/PyJaipur/PyJaipur/issues/new?assignees=&labels=talk&template=talk.md&title=) issue in this project.
2. That would also be wonderful! Go ahead and open a [talk proposal](https://github.com/PyJaipur/PyJaipur/issues/new?assignees=&labels=talk&template=talk

[2020-06-08 06:23] ayushisaxena22050 commented on #78
Ok I'll ask them then.
Is there any tentative date for it.

On Mon, 8 Jun, 2020, 11:50 Arjoonn Sharma, <notifications@github.com> wrote:

[2020-06-08 07:13] theSage21 commented on #78
Tentatively 20-21 June

On Mon 8 Jun, 2020, 11:53 ayushisaxena22050, <notifications@github.com>
wrote:

[2020-06-11 09:13] theSage21 opened #100 "Volunteer meet 14 June"
## MoM

- Follow up #95
    - Announcement automation, no work was done.
    - @piratesparsh, any updates from Amity's side?
    - #52 talk speaker needed. Send CFP today.
    - Complain bot #97 . No progress
    - #78 ilugd collab
        - 28st date is finalized
        - Finalize workflow in next call
        - ILUGD/talks#176 and #101 to be scheduled.
- #102 How to hand off give-aways.
    - @

[2020-06-12 09:44] theSage21 commented on #26
From HydPy telegram group.

NPTEL is Hiring
We are looking for Python Developers.
Job description:
· Bachelor’s degree in Computer Science or allied fields is required. Master’s degree preferred
· Ability to learn new technologies quickly and adapt them to our development needs would be considered an asset.
· 3+ years of experience in web development (backend), building REST APIs in Python
· Have

[2020-06-13 10:13] anchal7299 opened #101 "Linux Partitioning and LVM"
- 2-3 sentence description of the talk/workshop.

  1. A discussion on how partitions are created in linux and how to use them.
  2. What is LVM and how to create LVM.

- Do participants need to bring a laptop?
     yes

[2020-06-13 11:27] anchal7299 commented on #100
I want to give talk on this topic #101, but I have some network issues. If anyone could co- present on this topic please mention your name.

[2020-06-14 15:50] theSage21 commented on #100
# MoM

- Follow up #95
    - Announcement automation, no work was done.
    - @piratesparsh, any updates from Amity's side?
    - #52 talk speaker needed. Send CFP today.
    - Complain bot #97 . No progress
    - #78 ilugd collab
        - 28st date is finalized
        - Finalize workflow in next call
        - ILUGD/talks#176 and #101 to be scheduled.

[2020-06-14 16:00] theSage21 opened #102 "Python coding challenge give aways"
@smitjethwa and @shvamabps jab time mile yahan comment kardoge?

1. How to go do this event?
2. When to start?

- [ ] @theSage21 Framework for setting up the contest and hosting on our site
- [ ] @shvamabps @smitjethwa formulate questions for the first challenge.

[2020-06-14 16:49] smitjethwa commented on #102
Yes!

[2020-06-14 16:50] theSage21 commented on #78
This is now scheduled for 28th June. We'll be going ahead with #101 from our side.

[2020-06-14 16:51] #100 closed

[2020-06-14 16:54] theSage21 commented on #79
I've updated the shieldy message for the group with clear instructions about the pyjaipurlinks group.

[2020-06-14 16:54] #79 closed

[2020-06-16 08:43] piratesparsh commented on #69
We can have it on saturday 11:00 A.m.

[2020-06-16 11:43] theSage21 commented on #69
It's a little tight but that should be do-able:

- Can you post the amity logo here so that we can use it in our posters?
- Please forward an official mail from hod or whoever is the next best person to pyjaipur.india@gmail.com regarding this event.

[2020-06-16 14:06] theSage21 commented on #69
Actually, @piratesparsh I'm not sure. I'd like to schedule this on a volunteer call before finalizing it.

[2020-06-16 14:08] theSage21 opened #103 "Volunteer meet 21 June"
## MoM

- Follow up #100
    - #69, talk date was proposed for 20 June. @thesage21 declined due to lack of time.
    - @nk521 suggests we might keep this as a physical talk instead of online.
    - #52 talk un-scheduled
    - #54 to be un-scheduled in case speaker does not respond. In that case set up #11 instead.
    - New talk to be scheduled by @jjay075
    - #97 @nk521 to attempt this.
    - #

[2020-06-16 15:39] piratesparsh commented on #69
This won't be possible I guess, As far as I am aware, I will only be able to circulate the webinar link throughout the whole university via official noticeboard, hoping for any such mails would be a wastage of time.

[2020-06-16 15:41] piratesparsh commented on #69
Let me know the date from you too, if you have any preferences.

[2020-06-16 16:00] theSage21 commented on #69
Oh, so it's not an official Amity collaboration right? Then we can just schedule this talk like a normal pyjaipur meetup talk.

[2020-06-17 07:46] piratesparsh commented on #69
I don't think you would be able to use Amity's or any other institution's logo, using brand logos require a more complex collaboration. I didn't saw any of the institutions whosoever conducted any seminar/workshop using Amity's logo anywhere. It solely depends on the university's concern.

[2020-06-17 07:51] piratesparsh commented on #69
What does collaboration mean for just a seminar? We got permission for the seminar invite to be sent to everyone in the university, I am satisfied with that.  We must consider this as an opportunity to have our group PyJaipur attain some limelight in Amity University Rajashtan.  Rest relies on you.

[2020-06-17 17:59] The-Nightwing opened #106 "A talk on Scrappy and BeautifulSoup (framework and a library)"
Please include the following when writing about a talk / workshop:

- This would be an online workshop, students will be having their laptops.
- Web-Scrapping techniques will be covered showing an example, and then giving a small assignment to practice the same.

[2020-06-19 03:54] theSage21 commented on #54
@piyushagarwal08 this talk is scheduled for 27 June. If you have the slides/code ready could you please upload them here.

[2020-06-19 04:06] theSage21 commented on #69
Let us discuss this on #103 . A few points I want to be considered are:

- If PyJ cannot mention amity in its posters what's the difference between a normal PyJ talk and this talk?
    - Essentially it's a normal PyJ talk with some external group coming and attending the call.
- AFAIK when a college student body announces an event, the event poster carries logos of both parties involved. Not sure

[2020-06-19 10:42] piratesparsh commented on #69
I am abiding on what I've promised, and I hereby request you to kindly refer to our previous conv.
You are senior and my experience has no par with yours, you may discuss with whomsoever you may feel relevant.
As you stated above, _Talk's purpose is to create an impact and change_  then rest other things are of lesser concern.
At last, proceed with your own wisdom. :-)

[2020-06-19 11:08] piratesparsh commented on #69
I don't want any talk at my university, I am pulling out. Let this a PyJtalk. Thank you for devoting your valuable time so far. I am not having any personal gains if the session happens or not, and Amity is not my brand.

[2020-06-19 12:55] theSage21 commented on #106
Hi @The-Nightwing

Could you add a few details about how long this would be?

In case you have slides/code ready please link to those as well so that we can decide when to schedule this talk on this Sundays call #103

[2020-06-19 13:20] theSage21 commented on #69
Hmm, I have very little experience with these kinds of situations so far. Maybe someone else will know how to handle this better. I'll do my best to address your points.

@piratesparsh I didn't mean to imply that there's something wrong with the work you've done or with the nature of how this talk is being organized. I wanted to know things so that we can design posters and promotional material co

[2020-06-19 15:25] The-Nightwing commented on #106
Hi Arjoon,
I was thinking that it could be of 20 mins, just give the students an idea of what scrappy is and Beautiful Soup. I can't make slides on it, although I'll try finding one on the internet.
RegardsShivam VermaThe-NightWing

[2020-06-21 05:42] theSage21 opened #109 "Code of conduct"
# Code of conduct

## Always

1. Be polite and respectful
2. Respect people's privacy. Don't contact them individually without consent.

## Chat groups

1. If you are asking a question, https://www.dontasktoask.com
2. Give people time to respond. They might be busy somewhere else.
3. Use @pyjaipurlinks for posting links that are not related to an existing conversation or a conversation you want to

[2020-06-21 06:20] theSage21 commented on #106
@The-Nightwing in that case, could you post relevant links to code/resources here?

[2020-06-21 16:52] theSage21 commented on #52
Unscheduled due to unavailability of a speaker.

[2020-06-21 16:54] theSage21 commented on #54
@piyushagarwal08 could you please confirm if you'll be taking this talk on 27th June?

[2020-06-21 17:45] piyushagarwal08 commented on #54
Yes,
Tomorrow I have an event so after that I will share the ppt
Agenda is same as mentioned over GitHub

On Sun 21 Jun, 2020, 10:24 PM Arjoonn, <notifications@github.com> wrote:

[2020-06-21 18:04] The-Nightwing commented on #106
I found one pretty good resource for scrapy: https://www.pythongasm.com/introduction-to-scrapy/
Some codes(mine): https://drive.google.com/drive/folders/1ShEbyeyJ8c7k04ZjKqoUOPEsA406phly?usp=sharing

[2020-06-22 05:42] theSage21 commented on #106
Could you please put that code on github somewhere?

[2020-06-22 06:02] The-Nightwing commented on #106
Sure.

On Mon, Jun 22, 2020, 11:12 Arjoonn <notifications@github.com> wrote:

[2020-06-22 06:11] The-Nightwing commented on #106
https://github.com/The-Nightwing/Scarpy-Preview

This is code is for scraping a shopping website and create a CSV with scraped data using pandas library.

[2020-06-23 08:35] jjay075 opened #113 "A talk on APIs (Application Programming Interfaces)"
Please include the following when writing about a talk / workshop:

- What is APIs? Why do we use?
- How does it work?
- Using API a demo/ idea to build your own COVID-19 tracker website in flask.
- At last, share some resources where you can find public and private APIs.
- participants bring a laptop if they want.

[2020-06-23 08:59] theSage21 commented on #113
@jjay075 this is scheduled for 27 June :+1:

[2020-06-24 16:57] smitjethwa commented on #102
We can go ahead with the following libs
- requests
- nltk
- flask
- pandas / numpy
- mayplotlib / seaborn

[2020-06-24 18:02] #103 closed

[2020-06-24 18:27] theSage21 commented on #102
Discussed with @shvamabps :

## Challenge overview

- Challenge is run weekly. Each week there is one winner.
- Announced on Monday/Sunday night
- Challenge runs until a winner is declared. Then the next challenge is issued.
- Max of 5 steps in a challenge.
- Use time taken during attempts to break ties.

## Reference links

- Provide a REPL to people who attempt this challenge:
    - https://trai

[2020-06-24 18:29] shvamabps commented on #102
We'll start with **re**

[2020-06-24 18:29] theSage21 commented on #102
@smitjethwa if you're online ping in the TG group. We're on a call right now for this.

[2020-06-24 18:42] smitjethwa commented on #102
Hey,
I clicked on _unassign me_ accidentally. Please add me again,

[2020-06-25 06:44] piyushagarwal08 commented on #54
Bhaiya, I can talk about RPA and how to do automate web applications using
that but I don't have any specific presentation ready for that.
Will it be ok if we do it practically like normal talk and answering
through demonstration with things regards to web Automation.

On Sun 21 Jun, 2020, 11:14 PM Piyush Agarwal, <piyushagarwal.0108@gmail.com>
wrote:

[2020-06-25 13:36] theSage21 commented on #54
Should be fine to do that. Just make sure that whatever code/links you use in demos are listed here or in some other repo.

[2020-06-25 14:03] piyushagarwal08 commented on #54
There is no code or link 😅.. its just drag and drop and files work only
with specific software

On Thu 25 Jun, 2020, 7:06 PM Arjoonn, <notifications@github.com> wrote:

[2020-06-27 07:07] #92 closed

[2020-06-27 07:09] #54 closed

[2020-06-27 07:09] #113 closed

[2020-06-28 13:16] shvamabps commented on #102
# Regular Expression Questions

- Check whether a string starts and ends with a same character or not.
- Remove duplicate words from the sentence using `regex`
- Validate your email address using `regex`
- Extract the keywords of the text searched in an url using `regex`.
- Determine whether the url is valid or not using `regex`.
- Validate that the mobile number provided is correct or not based o

[2020-06-28 16:50] theSage21 opened #119 "Volunteer meet 5 July 2020"
## MoM

- #102 @shvamabps and @theSage21
- update #26 to include a database of jaipur based companies
- Ambassador for pyj in colleges/communities for events?
    - Saksham / Anuj can help in this aspect
- #121 PyJ needs to set up a job-oriented meetup this month.
    - ask people in final year what problems they are facing while finding jobs
    - how to get a job in tech industry. "walkthrough"

[2020-06-28 16:52] theSage21 commented on #78
Event link at: https://www.youtube.com/watch?v=X6xlcdbEM04

[2020-06-28 16:52] #78 closed

[2020-06-28 16:53] #101 closed

[2020-06-29 11:19] The-Nightwing commented on #106
Is this issue still active?

[2020-06-29 11:20] The-Nightwing commented on #106
Please Reply.

[2020-06-29 11:28] theSage21 commented on #106
We can add it as a topic of discussion to our next volunteer meet #119

[2020-06-29 11:59] The-Nightwing commented on #106
Thanks

On Mon, Jun 29, 2020 at 4:58 PM Arjoonn <notifications@github.com> wrote:

[2020-07-05 16:56] theSage21 opened #121 "PyJ jobs event"
- [ ] ambassadors
- [ ] event attendees
- [ ] instagram handle

[2020-07-05 17:04] #119 closed

[2020-07-08 13:30] theSage21 opened #123 "Volunteer meet 12 July 2020"
## MoM

- Discuss #121 in next call.
- We can contact https://sharedpro.in/ to talk about #26
- Ambassador for pyj in colleges/communities for events?
    - Can someone message Saksham / Anuj can help in this aspect. Put message in group.
    - @theSage21 tried contacting them but no response
    - @pytholabsbot1 + pyj for campus ambassadors. @pytholabsbot1 suggested a sponsor model.
- Kabir was p

[2020-07-10 18:29] pytholabsbot1 commented on #123
Hi! Our platform (pytholabs.com) makes Learning and building with Python and Machine Learning more engaging and fun for everyone ! It is also a content creation platform for creators to build interactive courses in a snap!

*For Beginners it's hard to visualize what Machine Learning is ?
The best way is to experience Ml applications hands-on like in this module : http://pytholabs.com/learning/Mach

[2020-07-12 15:46] theSage21 commented on #102
Let's create a new issue for this and post the questions there. We'll create a new project for this and follow progress there.

People can open PRs to submit answers.

@shvamabps ye kar doge please? Let me know if you don't have enough access.

[2020-07-12 16:57] theSage21 opened #124 "Volunteer meet 19 July 2020"
## MoM

- #121
  - We should have an event which informs people about what kinds of questions to ask in interviews.
  - We can have mock interviews. Maybe bi-weekly. Or else first come first serve.
  - Action items are on the issue.
- #26 skipped since Jay is not here.
- @Frosty09 campus ambassadors can be put on hold until physical meetups start.
    - Instead of campus ambassador use "PyJaipur c

[2020-07-12 17:00] #123 closed

[2020-07-12 19:03] shvamabps opened #126 "Regular expression questions"
## Solve at least 3 of these to get the prize

  *  Check whether a string starts and ends with a same character or not.
  *  Remove duplicate words from the sentence .
  *  Validate your email address .
  *  Extract the keywords of the text searched in an url.
  *  Determine whether the url is valid or not.
  *  Validate that the mobile number provided is correct or not based on the rules that th

[2020-07-12 19:03] shvamabps commented on #126
@theSage21  kindly review this!!

[2020-07-13 06:01] theSage21 opened #128 "Weekly prizes!"
## What all is given as a prize?

The prize is a token of achievement. They are small things like t shirts, mugs, bags, stickers and so on.

## What do I need to do?

- Find the currently active task on the [weekly prizes board](https://github.com/PyJaipur/PyJaipur/projects/3)
- Submit a pull request with your changes inside [scratch/weeklyattempts/<issue number>](https://github.com/PyJaipur/PyJai

[2020-07-13 06:02] theSage21 commented on #126
Sahi hai. I've added a few more points about how to participate in #128

[2020-07-13 06:13] shvamabps commented on #128
@theSage21  this is awesome.

[2020-07-13 14:50] theSage21 commented on #128
We are starting a weekly prize series!

1. A problem will be posted every Monday.
2. Open a pull request on [the pyjaipur github repo](https://github.com/PyJaipur/PyJaipur) to submit your solution.
3. The first solution which gets accepted will win.

The winner gets a prize and bragging rights!

This week's problem statement can be found on [issue #126](https://github.com/PyJaipur/PyJaipur/issues/

[2020-07-19 16:11] theSage21 commented on #126
@piyushagarwal08 ka attempt accept karte hain! Congratulations! :tada:

[2020-07-19 16:11] #126 closed

[2020-07-19 16:27] kabirnagpal commented on #124
Coming up of website will take longer on our side. So you may declare the date as per your comfort.
Also, 100 days of ML has already been taken up as a challenge by many of the members in our community.
We can promote it along with your 100 Days of Code.
Also, I believe a repository with the content being pushed every day should be a price itself rather than providing any other perks like certific

[2020-07-19 16:34] theSage21 opened #133 "Volunteer meet 2 August 2020"
## Agenda

- Follow up on #124

[2020-07-19 16:35] #124 closed

[2020-07-20 10:01] #102 closed

[2020-07-24 05:21] theSage21 opened #135 "July meetup"
## Announcement message

    This month we're working on how to deploy machine learning models and GPT-3. Come attend!
    Use pyjaipur.org/#call to join the event.
    #pyjaipur #event

## Announcement poster

## Checklist

- [x] Add announcement message on this issue
- [x] Google calendar event on pyj calendar
    - [x] Add announce message
    - [x] Create a meeting link using meet.google or ji

[2020-07-25 07:13] theSage21 commented on #135
https://www.youtube.com/watch?v=O0XumJXJCCs&list=PLgcz68896VeOhl-_rOwoeLIdqX2vNJoHH&index=1

[2020-07-25 07:13] #135 closed

[2020-08-02 14:14] C-mmon opened #139 "Implementing the concept of Blockchain in Python"
In this talk, We will start with the origin of the Blockchain through the paper submitted by Satoshi Nakamoto, A mysterious Identity "Bitcoin: A Peer-to-Peer Electronic Cash System". In this paper, although the code is given in the language C, but we shall be using Python to better understand the Concept of Blockchain.
Moreover, We shall be discussing various Data Structure involved in building th

[2020-08-03 15:19] theSage21 commented on #139
This sounds really great!

1. Do you have links to resources that people can read before attending?
2. Could you put up an estimate on how long this might take?

[2020-08-03 16:26] C-mmon commented on #139
Sure, I am working on the slides.
Will share all the resources in a day or two, further I shall the send the time taken by each topic.

[2020-08-05 06:18] theSage21 commented on #26
Cogknit is looking to hire 2 engineers on an immediate basis for the following 2 roles.

   

Vision Deep Learning & AIOPs Engineer: Cogknit is looking to expand its AI deployment team and is looking to add engineers with experience & exposure to Computer Vision and Deep Learning frame-works & libraries. 2-4 years experience with exposure working with R&D/Researchers will be a bonus. You will be j

[2020-08-05 06:24] ayushisaxena22050 commented on #26
Hello PyJaipur/PyJaipur,

I want to apply for this position.

On Wed, 5 Aug, 2020, 11:48 Arjoonn, <notifications@github.com> wrote:

[2020-08-13 10:20] #133 closed

[2020-08-13 10:34] theSage21 opened #140 "Community call: 20 Aug 2020"
## Agenda

- Follow up on #133

[2020-08-13 10:39] theSage21 opened #141 "Community call: 20 Aug 2020"
## Agenda

- Follow up on #133

[2020-08-13 10:39] #140 closed

[2020-08-13 10:40] theSage21 opened #142 "Community call: 16 Aug 2020"
## Agenda

- Follow up on #133

[2020-08-13 10:40] #141 closed

[2020-08-13 11:02] theSage21 commented on #133
Call did not happen.

[2020-08-16 16:22] #142 closed

[2020-08-16 16:22] theSage21 opened #146 "Community call: 30 Aug 2020"
## Agenda

- Follow up on #142

[2020-08-30 10:48] C-mmon commented on #146
Agenda
Discussion regarding slot fixture for speaker in upcoming community call.
How to get started with Google Cloud Facilitator Program and claim exciting prizes.

[2020-09-01 08:12] theSage21 opened #149 "Community call : 6 Sept 2020"
## Agenda

- Follow up on #146

[2020-09-01 08:12] #146 closed

[2020-09-03 06:43] karthikeyanVK opened #151 "Python workload in Azure"
Please include the following when writing about a talk/workshop:

- 2-3 sentence description of the talk/workshop.

You can learn about the various offering available in azure for the python-based worked loads. You will learn through the demo on how you can deploy your code in the web app and also docker application in azure.

- Do participants need to bring a laptop? - No

[2020-09-03 16:12] Shivank98 commented on #149
I was talking to some folks of Kota coachings. at the time of JEE/NEET, they usually have to do some manual tasks of fetching the results manually, I thought to automate did and have a basic selenium script. was thinking if we over a community call can discuss over that to make it more efficient.

[2020-09-03 16:39] theSage21 commented on #149
@Shivank98 sounds good. Any chance we could invite one of them to the call?

[2020-09-03 16:44] Shivank98 commented on #149
I ll try.

[2020-09-06 16:15] #149 closed

[2020-09-06 16:15] theSage21 opened #153 "Community call: 13 Sep 2020"
## Agenda

- Follow up on #149

[2020-09-07 06:55] Shivank98 opened #155 "Need help in automating results from NIC website."
On community call on 6 Sept, someone mentioned to look if captcha is mentioned in-browser only, but that I couldn't find. also couldn't see the source of captcha.

Here is the link to the website along with some sample data(we want the data of view result from it.)

Link:
https://testservices.nic.in/examsys/root/AuthForAdmitCardDwd.aspx?enc=Ei4cajBkK1gZSfgr53ImFQTbjVzuZ1mQajFt6EnKeZEk28J/HZOEuCngp

[2020-09-08 05:01] Shivank98 commented on #155
@theSage21 bhaiya, if you get some time. Please look into it

[2020-09-08 05:02] theSage21 commented on #155
I'll look during the weekend. Right now got office work to do.

[2020-09-09 11:35] HeroicHitesh commented on #26
For 2021/22 graduates
Register [here](https://www.interviewbit.com/contest/codeagon-2020?rcy=1&rce=7b9e7bd30dbb) for [CodeNation](https://codenation.org) Hiring test, it's on 27Sept from 8pm to 12am(4hrs)

[2020-09-10 13:27] randomizemuj commented on #151
![Poster](https://user-images.githubusercontent.com/45651729/92732804-92b0ef80-f394-11ea-9e9e-4683ca012210.jpg)
Date: 13th September '20
Timing: 9 PM

Python Workload in Azure", by one of the pre-eminent Microsoft MVP's of our country, Mr.Karthikeyan V K.

About: With over 3 MVP awards, he is an expert 😎 in building highly scalable solutions with ☁️ cloud-native architecture and also has a huge ex

[2020-09-10 14:50] theSage21 commented on #153
We'll be doing #151 instead of this.

[2020-09-10 14:50] #153 closed

[2020-09-14 03:36] theSage21 opened #158 "Community call: 20 September 2020"
# Agenda

- Follow up on #151
- Next talk?

[2020-09-14 03:39] theSage21 commented on #151
The speaker can be contacted at `@karthik3030` on twitter.

[2020-09-14 03:39] #151 closed

[2020-09-15 07:55] theSage21 opened #160 "Pycon India Flames"
## Announcement message

    Agenda:
    This is a precursor event to PyCon India 2020(https://in.pycon.org/2020/).
    PyJaipur is collaborating with all Indian local Python User groups to organize a Python meetup before PyCon India 2020 happens. This is intended as a warmup session for potential attendees.

    - 10:15 AM - 10:45 AM : SOLID Principles: Prakash Tripathi
    - 10:45 AM - 11:15 AM

[2021-02-27 21:59] #106 closed

[2021-04-01 08:30] nfrankel opened #171 "A walk through caching patterns"
This is a talk, so people don't need to bring a laptop.

Abstract:

[2021-07-23 13:21] #80 closed